:root {
    --orange: #ff8800;
    --background: #011212;
}

body {
    background-color: var(--background);
}

.ball {
    width: 100px;
    height: 100px;
    background-color: var(--orange);
    border-radius: 50px;
}
