body {
    background-color: #011212;
}

.ball {
    width: 50%;
    height: 50px;
    /*background-color: #ff8800;*/
    background-color: #009f4d;
    border-radius: .8rem;
    animation: move 5s infinite;
}